/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400');

// css

#title-slide > h1 {
  text-align: left;
  font-weight: 300;
  color: #404041;
}

#title-slide > p {
  color: #818184;
  font-size: 65px;
  text-align: left;
  font-weight: 300;
}

div.has-dark-background h2 {
  color: #eee !important; // someone better at design than me should fix this.
}

div.has-dark-background {
  color: #eee !important; // someone better at design than me should fix this.
}

section.has-dark-background > h2 {
  font-weight: 300 !important;
  color: #eee !important; // someone better at design than me should fix this.
}

h2 {
  font-weight: 300 !important;
  color: #404041 !important;
}



body {
  font-weight: 400 !important;
  color: #404041 !important;
}

// fonts
$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-monospace: 'Source Code Pro', monospace !default;

// colors
$body-bg: #FFF !default;
$body-color: #404041 !default;
$link-color: #447099 !default;
$code-color: #72994E !default;
$selection-bg: #EE6331;

// more Colors
$darkblue: #19294D;
$darkyellow: #FCA311;
$silver: #F6F6F6;
$lightblue: #A6CFD5;
$altred: #A33B20;
$darkgreen: #5B6C5D;

// dark colors
$dark-bg-text-color:	#fff !default;
$dark-bg-link-color:	#A2B8CB !default;
$dark-bg-code-color:	#72994E !default;


// headings
$presentation-heading-font: "Open Sans", sans-serif !default;


// Footer deets
.reveal .slide-number a {
    font-family: 'Barlow Condensed', sans-serif;
}

.reveal .footer p {
    font-family: 'Barlow Condensed', sans-serif;
}

// Custom Region
.darkblue {color: $darkblue;}
.darkyellow {color: $darkyellow;}
.silver {color: $silver;}
.lightblue {color: $lightblue;}
.altred {color: $altred;}
.darkgreen {color: $darkgreen;}

.smaller{font-size:smaller}

.medium{font-size:medium}

.bigger{font-size:150%;}

.biggest{font-size:250%;}
